@model Amalia.Models.ListMessagesViewModel
@{
    ViewBag.Title = "List of emails";
}

<h2>Monitoring emails from your users/customers</h2>


<div class="row">
        <div class="col-md-2">
            <h4>Filters</h4>

            Categories:

            <table class="table table-responsive table-condensed">
                <tr>
                    <td>@Html.ActionLink("All", "ListMessages", "Home")</td>
                </tr>
                @foreach (var request in Model.Categories)
                {
                    <tr>
                        <td>@Html.ActionLink(request.Name, "ListMessages", "Home", new { categoryId = request.Id }, null)</td>
                    </tr>

                }
            </table>
        </div>
        <div class="col-md-10">
            <h4>Messages</h4>

            <table class="table table-responsive table-condensed">
                <thead>
                    <tr>
                        <th>Creation Date (UTC)</th>
                        <th>Category</th>
                        <th>Subject</th>
                        <th>Text</th>
                        
                        <th></th>
                    </tr>
                </thead>
                @foreach (var request in Model.Messages)
                {
                    <tr>
                        <td>@request.CreatedAt</td>
                        <td>@(request.CategoryId.HasValue? request.Category.Name : string.Empty)</td>
                        <td>@request.Title</td>
                        <td>@request.Message</td>
                        
                        <td>@Html.ActionLink("Details","ViewMessage",new {id = request.Id}) </td>

                    </tr>
                }
            </table>
        </div>
    </div>